*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #272E48;
}

.container_set{
    display: flex;
	flex-wrap: wrap;
	width: 100%;
    justify-content: center;
    align-items: center;
	margin: 50px 0;
    
}

/* a:link, a:visited {
    background-color: #6fd137;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  a:hover, a:active {
    background-color: rgb(122, 190, 90);
  } */

.card_box{
    width: 29%;
    margin: 15px;
	box-sizing: border-box;
    border-radius: 12px;
    background-color: #A084CA;
    overflow: hidden;
	float: left;
	padding-top: 10px;
	cursor:pointer;
}

.card_box .title h3{
    font-family: sans-serif;
    color: white;
    text-align: center;
	margin-top: 10px;
}

.card_box .title p{
	
	font-family:sans-serif;
	color: white;
	text-align: center;
}

.card_box .image{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.card_box .image .outer{
    background-color: #EBC7E8;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_box .image .inner{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.card_box .image .inner img{
    width: 100%;
}

.card_box .name{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2%;
}

.card_box .details{	
	background-color: #645CAA;
    height: 39%;
    margin-top: 4%;
    border-top-left-radius: 50px;
    padding-bottom: 5%;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
	border-top: 4px solid white;
}

.card_box .details .col{
    width: 50%;
}

.card_box .details .col img{
    width: 80%;
	opacity: 0.5;
	padding-top: 30px;
}

.card_box .details .col:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_box .details li{
    margin-top: 2%;
	margin-left: 40px;
    width: 100%;
	font-size:0.8rem;
	padding: 1%;
}

@media(max-width:1000px){
	.card_box{
		width: 45%;
	}
}

@media(max-width:750px){
	.card_box{
		width: 55%;
        height: 50%;
	}
}